.nav-right .right-menu > li {
  padding: 30px;
  text-transform: capitalize;
}
.logo {
  width: 100px;
}
.float-menu {
  width: 250px;
}
.float-menu > li {
  padding: 10px;
}

@media screen and (max-width: 650px) {
  .nav-right .right-menu > li {
    padding: 20px;
  }
}
