@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.primary-color {
  background-color: #3d509c;
}
.secondary-color {
  background-color: #be1165;
}
.primary-shade-color {
  background-color: #96a0f5;
}
